* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border: 2px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
}

nav {
    margin: 20px;
}

a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-decoration-line: none;
    background-color: #80808081;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px 8px ;
}

a:hover {
    background-color: #808080;
    color: #000000;
    border: 1px solid #000000;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 7px    ;
    border: 2px dashed green;
    padding: 20px;
    margin: 20px;
}

.content {
    border: 1px solid black;
    padding: 15px;
}

footer {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}