* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border: 2px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
}

nav {
    height: 62px;
    background-image: linear-gradient(to right, #9FBBCC, #3f79c0 );
}

nav > ul {
    text-transform: uppercase;
    font-weight: 1em;
    padding: 8px 0px;
    margin: 20px;
}

nav > ul > input {
    
    height: 30px;
    width: 150px;
    padding-left: 35px;
    background-image: url(Hopstarter-Scrap-Magnifying-Glass.ico);
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    border-radius: 8px 8px ;
}

a:hover {
    background-color: #3f79c077;
    color: #000000;
    transition: 0.5s;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 7px    ;
    border: 2px dashed green;
    padding: 20px;
    margin: 20px;
}

.content {
    border: 1px solid black;
    padding: 15px;
}

footer {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}