* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aqua;
}

header {
    margin: 20px;
    padding: 15px;
    width: 73vw;
    background-color: #ffffff;
    text-align: left;
    justify-self: center;
}

#blocoUm {    
    background-color: teal;
    width: 73vw;
    height: 50vh;
    display: flex;  
    flex-flow: row wrap;
    justify-self: center;
}

#containerUm {
    width: 55vw;
    background-color: darkgray;
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
}

.primeiro {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: #ffffff;
    flex: 1 1 250px;
    
}

.segundo {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    flex: 1 1 50px;
    
}

#containerDois {
    width: 18vw;
    min-width: 130px;
    background-color: yellow;
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;        
}

.terceiro {
    padding: 10px;
    margin: 5px;
    background-color: tomato;
    flex: 1 1 auto;
}

.quarto {
    padding: 10px;
    margin: 5px;
    background-color: tomato;
    flex: 1 1 auto;
}