* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    margin: 20px;
    padding: 15px;
    width: 80vw;
    background-color: #ffffff;
    text-align: left;
    justify-self: center;
}

#blocoGeral {    
    position: relative;
    background-color: teal;
    width: 80vw;
    height: 55vh;
    display: flex;  
    flex-flow: row wrap;
    justify-self: center;
}

#containerUm {
    width: 55vw;
    height: 100%;
    background-color: darkgray;
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
}

#containerUm > .primeiro {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: #ffffff;
    flex: 1 1 250px;
    
}

#containerUm > .segundo {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    flex: 1 1 50px;
    
}

#containerDois {
    width: 25vw;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-flow: column wrap;    
}

#containerDois > .terceiro {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: tomato;
    flex: 1 1 auto;
}

.quarto {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: tomato;
    flex: 1 1 auto;
}

#containerTres {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    height: 16vh;
    margin-top: 20px;
}

#containerTres > div > img {
    display: flex;
    width: 30%;
    height: 80%;
    background-color: #000000;
    border-radius: 100%;
    margin: 10px 0px 0px 5px;
    object-fit: cover;
}

#containerTres > div > p {
    display: flex;
    flex: auto;
    color: #000000;
    padding: 5px;
    margin: 5px;
    width: 50%;
    text-align: center;
}

#item1 {
    display: flex;
    width: 25%;
    align-items: center;
}

#item1 > span {
    width: 30%;
    height: 80%;
    background-image: url(https://media.istockphoto.com/id/1166610392/pt/foto/a-shuttle-spaceship-taking-off.jpg?s=1024x1024&w=is&k=20&c=e0NcthGI_ajmjm9HLs4gcR73jIKp4ups4v8XaVECtso=);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 10px 0px 0px 5px;
}

#item2 {
    display: flex;
    width: 25%;
    align-items: center;
}

#item2 > span {
    width: 30%;
    height: 80%;
    background-image: url(https://i.pinimg.com/736x/a7/82/3d/a7823d712f6ebb4db8d0aa26385a4368.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 10px 0px 0px 5px;
}

#item3 {
    display: flex;
    width: 25%;
    align-items: center;    
}

#item3 > span {
    width: 30%;
    height: 80%;
    background-image: url(https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 10px 0px 0px 5px;
}

#item4 {
    display: flex;
    width: 25%;
    align-items: center;
}

#item4 > span {
    width: 30%;
    height: 80%;
    background-image: url(https://i.pinimg.com/736x/10/f8/5e/10f85e640d4fd0547cab09f72e4685df.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 10px 0px 0px 5px;
}
